<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?php echo $title; ?> | Article Details</title>
    </head>
    <body>
	
		<?php //include HOME . DS . 'includes' . DS . 'menu.inc.php'; ?>
		<nav>
	<ul id="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/contact/index">Contact</a></li>
	</ul>
</nav>
		<?php if (!isset($noArticle)): ?>
		
			<article>
				<header>
					<h1><?php echo $title; ?></h1>
					<p>Published on: <time pubdate="pubdate"><?php echo $datePublished; ?></time></p>
				</header>
				<p>
					<?php echo $articleBody; ?>
				</p>
			</article>
		
		<?php else: ?>
		
			<h1>There is no article with the ID you specified.</h1>
		
		<?php endif; ?>
		
		<a href="/">Back to article list</a>
		
    </body>
</html>