<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><?php echo $title; ?></title>
    </head>
    <body>
	
		<?php //include HOME . DS . 'includes' . DS . 'menu.inc.php'; ?>
		<nav>
	<ul id="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/contact/index">Contact</a></li>
	</ul>
</nav>
        <h1>News articles</h1>

		<?php 
            if ($articles):
            foreach ($articles as $a): ?>

			<article>
				<header>
					<h1><a href="/news/details/<?php echo $a['id']; ?>"><?php echo $a['title']; ?></a></h1>
					<p><?php echo $a['category_name']; ?></p>
					<p>Published on: <time pubdate="pubdate"><?php echo $a['date']; ?></time></p>
				</header>
				<p><?php echo $a['intro']; ?></p>
				<p><a href="/news/details/<?php echo $a['id']; ?>">Continue reading</a></p>
				<hr/>
			</article>
		<?php 
            endforeach;
            else: ?>

        <h1>Welcome!</h1>
        <p>We currently do not have any articles.</p>

        <?php endif; ?>
		
    </body>
</html>